@page "/Dashboard"
@inherits DashboardBase

<MudPaper Height="100vh">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer Open="true" Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Primary">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">XFramework</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Dashboard" IconColor="Color.Inherit" OnClick="ToDashboard">Dashboard</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Login" IconColor="Color.Inherit" OnClick="ToSignIn">Sign In</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.AppRegistration" IconColor="Color.Inherit" OnClick="ToSignUp">Registration</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.SupervisedUserCircle" IconColor="Color.Inherit" OnClick="ToProfile">Profile</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.AccountBalanceWallet" IconColor="Color.Inherit" OnClick="ToWallet">Wallet</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.VerifiedUser" IconColor="Color.Inherit" OnClick="ToUser">User</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Settings" IconColor="Color.Inherit" OnClick="ToAdminSettings">Admin Settings</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <div class="d-flex justify-center align-center mud-height-full">
            <h1>Hello World</h1>
        </div>
    </MudDrawerContainer>
</MudPaper>

