<div class="card card-custom">
											<!--begin::Body-->
											<div class="card-body pt-15">
												<!--begin::User-->
												<div class="text-center mb-10">
													<div class="symbol symbol-60 symbol-circle symbol-xl-90">
														<div class="symbol-label" style="background-image:url('assets/media/users/300_21.jpg')"></div>
														<i class="symbol-badge symbol-badge-bottom bg-success"></i>
													</div>
													<h4 class="font-weight-bold my-2">@Title</h4>
													<div class="text-muted mb-2">@SubTitle</div>
													<span class="label label-light-warning label-inline font-weight-bold label-lg">@Status</span>
												</div>
												<!--end::User-->
												<!--begin::Contact-->
												<div class="mb-10 text-center @Icon @Tab">
													</div>
												<!--end::Contact-->
												<!--begin::Nav-->
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block active">@Tab</a>
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">@Tab</a>
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">@Tab</a>
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">@Tab</a>
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">@Tab</a>
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">@Tab</a>
												<a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">@Tab</a>
												<!--end::Nav-->
											</div>
											<!--end::Body-->
										</div>

@code {
    
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public string Email { get; set; }
	[Parameter]
	public string Status { get; set; }

	[Parameter]
	public string Phone { get; set; }
	[Parameter]
	public string Location { get; set; }
	[Parameter]
	public string SubTitle { get; set; }

	[Parameter]
	public RenderFragment Body { get; set; }

	[Parameter]
	public RenderFragment Footer { get; set; }

	[Parameter]
	public RenderFragment Header { get; set; }

	[Parameter]
	public string Photo { get; set; } = "assets/media/users/300_21.jpg";

	[Parameter]
	public RenderFragment Dropdown { get; set; }

	[Parameter]
	public RenderFragment Toolbar { get; set; }
	[Parameter]
	public RenderFragment Icon { get; set; }
	[Parameter]
	public string Tab { get; set; }

}