@page "/Users"
@inherits UsersBase

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>DOB</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
    <tr>
      <td>@item.Name</td>
      <td>@item.Email</td>
      <td>@item.Phone</td>
      <td>@item.DateOfBirth</td>
      <td>@item.Status</td>
    </tr>
  }
  </tbody>
</table>


<MudButton OnClick="@((e) => CreateModal(new()))">Open Create Modal</MudButton>

