@page "/Test2"
<h3>Test 2</h3>

<hr>

<form action="">
    <label for="">Number1</label>
    <input type="number" step="0.01" placeholder="input number" @bind="@Number1" @bind:event="oninput">
    
    <br>
    
    <label for="">Number2</label>
    <input type="number" step="0.01" placeholder="input number" @bind="@Number2" @bind:event="oninput">
    
    <h2>@Number1 + @Number2 = @GetSum()</h2>
    <h2>@Number1 - @Number2 = @GetDifference()</h2>
    <h2>@Number1 * @Number2 = @GetProduct()</h2>
    <h2>@Number1 / @Number2 = @GetQuotient()</h2>
    
</form>

@code {

    public double Number1 { get; set; }
    public double Number2 { get; set; }

    public double GetSum()
    {
        return Number1 + Number2;
    }

    private double GetDifference()
    {
        return Number1 - Number2;
    }

    private double GetProduct()
    {
        return Number1 * Number2;
    }

    private double GetQuotient()
    {

        if (Number1 == 0 || Number2 == 0)
        {
            return 0;
        }
        return Number1 / Number2;
        
    }





}

